.ui-dialog-modal {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0);
  z-index:100;
  -webkit-transition:all 350ms ease;
  transition:all 350ms ease;
}

.ui-dialog {
  position:fixed;
  left:50%;
  top:50%;
  margin:0 auto;
}

.ui-dialog-modal.active {
  background-color:rgba(0, 0, 0, .7);
}
